<div id="post-comms" class="row">
    <div class="col s12">
        <div class="btns-holder">
            <div class="btns">
                <button data-id="{{id}}" class="edit material-icons md-light transp float-right">create</button>
            </div>
            <div class="btns">
                <span class="comm-count">{{commCount}}</span>
                <button data-id="{{id}}" class="comments material-icons md-light transp float-right">comment</button>
            </div>
        </div>
        <div class="hidden-comms {{id}}" style="display: none;">
            <div class="comm-container">
                {{#each comments}}
            <ul class="relative commid-{{dataValues.id}}">
                {{!-- {{log dataValues}} --}}
                <li style="visibility: hidden;" class="comm-id-{{dataValues.id}}">{{dataValues.id}}</li>
                <li class="comm-body-{{dataValues.id}}">{{dataValues.body}}</li>
                <li class="comm-timestamp-{{dataValues.id}}">{{dataValues.updatedAt}}<button style="font-size: 20px" class="comm-del material-icons md-light transp" data-id="{{dataValues.id}}">delete</button></li>
            </ul>
                {{/each}}
            <form class="comments comm-id-{{id}}">
                <div>
                    <label for="comment">Got a comment?</label>
                    <textarea class="comm-text {{id}}" name="comment" placeholder="Your comments"></textarea>
                </div>
                <div>
                    <button class="new-comm transp material-icons md-light float-right" data-id="{{id}}">save</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>