<li class="post-list postid-{{id}}" data-num="{{id}}">
    <div data-post="{{id}}" class="grad-bg post-block">
        <h3>{{title}}</h3>
        <p class="post-body">{{body}}</p>
        <p class="post-mood">mood: <span class="mood-span" style="color: {{color}};">{{mood}}</span></p>
        <p class="post-timestamp">{{createdAt}}</p>
        <p style="visibility: hidden;">{{id}}</p>
        {{!-- {{log .}} --}}
      {{> comms-block}}
    </div>
</li>