<li>
    <div class="grad-bg">
        <h3>{{title}}</h3>
        <p>{{body}}</p>
        <p>Mood to come</p>
        <p>mood: {{Mood.mood}}</p>
        <p>{{id}}</p>
        <p>username: {{User.username}}</p>
    </div>
</li>